<div class="jumbotron">
	<h1>Poker game</h1>      
	<p>Poker</p>
</div>
<div ng-controller="show5random">
	<div class="panel panel-default hidden-xs">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<img class="rounded img-fluid" src="cards/{{randcards.card1.symbol}}/{{randcards.card1.color}}{{randcards.card1.symbol}}.png" alt="{{randcards.card1.color}}" style="width: 100%;" />
				</div>
				<div class="col-md-2 ">
					<img class="rounded float-left img-fluid" src="cards/{{randcards.card2.symbol}}/{{randcards.card2.color}}{{randcards.card2.symbol}}.png" alt="{{randcards.card2.color}}" style="width: 100%;" />
				</div>
				<div class="col-md-2">
				<img class="rounded float-left img-fluid" src="cards/{{randcards.card3.symbol}}/{{randcards.card3.color}}{{randcards.card3.symbol}}.png" alt="{{randcards.card3.color}}" style="width: 100%;" />
				</div>
				<div class="col-md-2">
					<img class="rounded float-left img-fluid" src="cards/{{randcards.card4.symbol}}/{{randcards.card4.color}}{{randcards.card4.symbol}}.png" alt="{{randcards.card4.color}}" style="width: 100%;" />	
				</div>
				<div class="col-md-2">
					<img class="rounded float-left img-fluid" src="cards/{{randcards.card5.symbol}}/{{randcards.card5.color}}{{randcards.card5.symbol}}.png" alt="{{randcards.card5.color}" style="width: 100%;" />
				</div>
			</div>	
		</div>
	</div>
</div>